body
{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.Opener
{
    width: 100%;
    background-color: black;
    padding-bottom: 5%;
}
.Hero
{
    width: 300px;
    border-radius: 300px;
    margin-top: 5%;
    margin-left: 37%;
}
.text
{
    color: antiquewhite;
    font-family: 'Reggae One', cursive;
    font-size: 55px;
    margin-left: 33%;
}
.subtitle
{
    color: antiquewhite;
    font-family: 'Reggae One', cursive;
    font-size: 25px;
    text-align: center;   
}
.subtitle1
{
    color: rgb(17, 161, 36);
    font-family: 'Reggae One', cursive;
    font-size: 25px;
    text-align: center;   
}
.icons_section
{
    margin-left: 40%;
}
.icons
{
    width: 40px;
    margin-left: 2%;
}
.AboutMe
{
    background-color:rgb(0,0,0);
}
.Resume
{
    background-color: black;
}
.Headings
{
    font-family: 'Reggae One', cursive;
    color: rgb(53, 163, 19);
    font-size: 55px;
    text-align: center;
}
.details
{
    display: flex;
    padding-left: 15%;
    font-family: 'Nova Flat', cursive;
    font-size: 30px;
    color: aqua;
}
.rightside
{
    margin-left: 15%;
}
.details1
{
    display: flex;
    padding-left: 2%;
    font-family: 'Nova Flat', cursive;
    font-size: 30px;
    color: aqua;
}
.Hero1
{
    width: 200px;
    border-radius: 200px;
}
.rightside1
{
    margin-right:5% ;
}
.row
{
    display: flex;
    font-family: 'Nova Flat', cursive;
}
.row
{
    display: flex;
    font-family: 'Nova Flat', cursive;
}
.row_breaker1
{
    display: flex;
    width: 50%;
    margin-left: 25%;
}
.row_breaker2
{
    display: flex;
    width: 70%;
    margin-left: 0%;
}
.icons_contactme
{
    width: 70px;
}
.detail_contact_me
{
    font-size: 25px;
    padding: 1%;
}
.icons1
{
    width: 20px;
}
.Portfolio
{
    background-color: black;
    padding-bottom: 3%;
}
.Items
{
    padding-left: 13%;
    display: flex;
}
.Item1
{
    background-image: url("../Images/Portfolio/Portfolio1.png");
    height: 300px;
    width: 200px;
}
.portfolio_name1
{
    background: rgb(0,0,0,0.8);
    color: seashell;
}
.Item2
{
    background-image: url("../Images/Portfolio/Portfolio2.png");
    height: 300px;
    width: 200px;
    margin-left: 5%;
}
.portfolio_name2
{
    background: rgb(0,0,0,0.8);
    color: seashell;
}
.Item3
{
    background-image: url("../Images/Portfolio/Portfolio3.png");
    height: 300px;
    width: 200px;
    margin-left: 5%;
}
.portfolio_name3
{
    background: rgb(0,0,0,0.8);
    color: seashell;
}
.Item4
{
    background-image: url("../Images/Portfolio/Portfolio4.png");
    height: 300px;
    width: 200px;
    margin-left: 5%;
}
.portfolio_name4
{
    background: rgb(0,0,0,0.8);
    color: seashell;
}