*
{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
body
{
    background: black;
}
.Head
{
    color: cornsilk;
    font-size: 500%;
    font-family: 'Cinzel Decorative', cursive;
}
.Subtitle
{
    color: cornsilk;
    font-size: 200%;
    font-family: 'Cinzel Decorative', cursive;
}
.Icons
{
    width: 3%;
    margin-left: 2%;
}
.Opener
{
    padding-top: 15%;
    padding-left: 10%;
    background-image: url("../Images/Background.png");
    background-size: 100%;
    padding-bottom: 10%;
}
.About_me
{
    margin-top: 6%;
    display: flex;
}
.contain
{
    display: flex;
}
.col1
{
    color: cornsilk;
}
.col2
{
    color: cornsilk;
}
.Hero
{
    width: 250px;
    height: 250px;
    border-radius: 300px;
}
.contain
{
    font-family: 'Parisienne', cursive;
    font-size: 170%;
}
.col1a
{
    margin-left: 2%;
    color: cornsilk;
    width: 40%;
}
.col2a
{
    margin-left: 5%;
    color: cornsilk;
    width: 40%;
}
.bar
{
    border: 1px solid #c73c3c;
    color: #c73c3c;
    width: 70%;
    font-size: 10%;
    background-color:#c73c3c;
    border-radius: 10px;
}
.skills
{
    font-size: 170%;
    font-family: 'Parisienne', cursive;
    padding-bottom: 5%;
}
.testimonials
{
    display: flex;
    margin-left: 1%;
    padding-bottom: 5%;
}
.card
{
    background-image: linear-gradient(rgb(0, 0, 0),rgb(34, 2, 2));
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Parisienne', cursive;
    font-size: 150%;
    margin-right: 2%;
    color: cornsilk;
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: center;
}
.testimonials_pic
{
    width: 100px;
    border-radius: 100px;
}
.Testimony
{
    color: rgb(228, 228, 102);
    font-size: 30px;
}
.sub
{
    color: rgb(224, 190, 222);
    font-size: 20px;
}